html {
    font: 1.1em "MS Gothic", monospace;
    color: white;
}

body {
    background: linear-gradient(90deg,rgb(0,5,50),rgb(0,65,110));
    margin: 1em;
}

main {
    margin-bottom: 3em;
}

footer {
    position: fixed;
    left: 1em;
    bottom: 0;
    width: calc(100% - 2em);
    line-height: 2em;
    border-top: 1px solid white;
    background: linear-gradient(90deg,rgb(0,5,50),rgb(0,65,110));
    text-align: center;
}

dl {
    margin-left: 40px;
}

dt {
    display: list-item;
    margin-bottom: 0.5em;
}

dd {
    margin-bottom: 1em;
}

a:link, a:visited {
    color: white;
}

a:hover {
    color: cyan;
}

#result {
    font: min(3vw, 2em) monospace;
    text-align: center;
}

button {
    width: 100%;
    height: 3em;
    margin: 1em 0;
    background: rgb(0,5,50);
    border-color: white;
    color: white;
    font: 1.1em "MS Gothic", monospace;
}

button:hover {
    background: rgb(0,65,110);
}
